{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block content %}
    <h1>Search Results</h1>
    <ul>
        {% for car in cars %}
            <li>{{ car.name }}</li>
            <!-- Display other car details as needed -->
        {% endfor %}
    </ul>
{% endblock %}

